@model FITlosophiMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 tales-superblock ">

        <br/>

        <h2>Registration</h2>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "contact-form", role = "form"}))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new {@class = "text-danger"})


            <input name="Email" id="Email" type="text" class="input-lg form-control" placeholder="Email"/>

            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            <input name="FirstName" id="FirstName" type="text" class="input-lg form-control" placeholder="First Name"/>

            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })

            <input name="LastName" id="LastName" type="text" class="input-lg form-control" placeholder="Last Name"/>

            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })

            <input name="Password" id="Password" type="password" class="input-lg form-control" placeholder="Password"/>

            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            <input name="ConfirmPassword" id="ConfirmPassword" type="password" class="input-lg form-control" placeholder="Confirm Password"/>
            
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

            <div class="buttons clearfix">
                <input type="submit" class="btn btn-large btn-tales-one" value="Register"/>
            </div>
        }

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
