@using System.Activities.Statements
@model FITlosophiMVC.Models.BlogDetailViewModel

@{
    ViewBag.Title = "Detail";
}

        <div class="row">
            <div class="col-md-8 blog-main">
                <article class="blog-post">
                    <header>
                        <h1>@Model.UserSelectedPost.Title</h1>
                        <div class="lead-image">
                            <img src= @Model.UserSelectedPost.CoverImgURL alt="CoverImage" class="img-responsive">
                            <div class="meta clearfix">

                                <div class="author">
                                    <i class="fa fa-user"></i>
                                    <span class="data">@Model.UserSelectedPost.WriterName</span>
                                </div>
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <span class="data">@Model.UserSelectedPost.DatePublished</span>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="body">
                        @Html.Raw(Model.UserSelectedPost.Body)
                    </div>
                    <hr />
                    <div class="HashTags">
                        @foreach (var tag in Model.UserSelectedPost.HashTags)
                        {
                            <a href="/Home/BlogByTagID?TagID=@tag.TagID">#@tag.ActualHashTag</a>
                        }
                    </div>
                </article>
            </div>
            <aside class="col-md-4 blog-aside">
                <div class="aside-widget">
                    <header>
                        <h3>Categories</h3>
                    </header>
                    <div class="body clearfix">
                        <ul class="tags">
                            @if (Model.Categories.Count > 0)
                            {
                                foreach (var cat in Model.Categories)
                                {
                                    <li><a href="/Home/BlogByCategoryID?CategoryID=@cat.CategoryID">@cat.CategoryName</a></li>
                                }
                                <li><a href="/Home/Index">All Categories</a></li>
                            }
                        </ul>
                    </div>
                </div>
                @if (Model.Posts.Count > 0)
                {
                    <div class="aside-widget">
                        <header>
                            <h3>Read More...</h3>
                        </header>
                        <div class="body">
                            <ul class="tales-list">
                                @for (int i = 0; i < @Model.Posts.Count; i++)
                                {
                                    if (i < 9)
                                    {
                                        <li><a href="/Home/BlogDetail?PostID=@Model.Posts[i].PostID">@Model.Posts[i].Title</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
            </aside>
            </div>

