@using System.Activities.Statements
@model FITlosophiData.Models.Post

@{
    ViewBag.Title = "Detail";
}
<div class="widewrapper main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <article class="blog-post">
                    <header>
                        <h1>@Model.Title</h1>
                        <div class="lead-image">
                            <img src= @Model.CoverImgURL alt="CoverImage" class="img-responsive">
                            <div class="meta clearfix">

                                <div class="author">
                                    <i class="fa fa-user"></i>
                                    <span class="data">@Model.WriterName</span>
                                </div>
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <span class="data">@Model.DatePublished</span>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="body">
                        @Html.Raw(Model.Body)
                    </div>
                    <hr />
                    <div class="HashTags">
                        @foreach (var tag in Model.HashTags)
                        {
                            @Html.ActionLink("#" + tag.ActualHashTag +" ", "Index?TagID=" +tag.TagID, "Home")
                        }
                    </div>
                </article>
            </div>
            <aside class="col-md-4 blog-aside">
                <div class="aside-widget">
                    <header>
                        <h3>Categories</h3>
                    </header>
                    <div class="body clearfix">
                        <ul class="tags">
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Nutrition</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Fitness</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Wellness</a></li>
                        </ul>
                    </div>
                </div>
                <div class="aside-widget">
                    <header>
                        <h3>Read More...</h3>
                    </header>
                    <div class="body">
                        <ul class="tales-list">
                            <li><a href="index.html">Healthy Living</a></li>
                            <li><a href="#">Food for Thought</a></li>
                            <li><a href="#">Training in the Offseason</a></li>
                            <li><a href="#">Yoga is for Everyone</a></li>
                            <li><a href="#">5 Ab Crushing Workouts</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
            </div>
    </div>
</div>

