@using Microsoft.AspNet.Identity
@model FITlosophiData.Models.Post

@{
    ViewBag.Title = "EditPost";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 tales-superblock" id="contact">

        <br />

        <form action="/CMS/EditPost" method="POST" accept-charset="utf-8" class="contact-form">

            <input type="hidden" name="PostID" value="@Model.PostID">

            <input type="text" name="Title" id="PostTitle" placeholder="Title" class="form-control input-lg" value="@Model.Title">

            <select class="form-control categoryPlaceholder" name="CategoryID" id="PostCategoryID">
                @*<option value="0" disabled selected hidden>Category</option>*@
            </select>

            <input type="hidden" id="categoryTemp" value="@Model.CategoryID"/>

            <input type="text" name="CoverImgURL" id="CoverImgURL" placeholder="Cover Image URL" class="form-control input-lg"/ value="@Model.CoverImgURL">

            <ul id="tagit">
                @foreach (var tag in @Model.HashTags)
                {
                    <li>@tag.ActualHashTag</li>
                }
            </ul>

            <textarea rows="10" name="Body" id="tinymce" class="form-control input-lg">@Model.Body</textarea>

            <input type="hidden" name="UserID" value="@User.Identity.GetUserId()"/>

            <div class="buttons clearfix">
                <button type="submit" class="btn btn-large btn-tales-one">Submit</button>
                <a href="/CMS/ManagePosts" class="btn btn-large btn-tales-two">Cancel</a>
            </div>

        </form>
    </div>
</div>

@Html.Partial("_AddImageModal");



@section Scripts{
    <!--Image Upload Modal-->
    <script src="~/Scripts/app/imageUploader.js"></script>
    <script src='~/Scripts/cloudinary/jquery.ui.widget.js' type='text/javascript'></script>
    <script src='~/Scripts/cloudinary/jquery.iframe-transport.js' type='text/javascript'></script>
    <script src='~/Scripts/cloudinary/jquery.fileupload.js' type='text/javascript'></script>
    <script src='~/Scripts/cloudinary/jquery.cloudinary.js' type='text/javascript'></script>

    <!-- TinyMCE Initializer -->
    <script src="~/Scripts/tinymce/TinyMCEInitializer.js"></script>

    <!--Tagit JS Library and Initializer-->
    <script src="~/Scripts/tagit/tag-it.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/tagit/TagitInitializer.js"></script>

    <script src="~/Scripts/app/EditPost.js"></script>
}

  