@using System
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title - FITlosophi</title>

    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="~/Content/node_modules/font-awesome/css/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="~/Content/css/styles-bluegreen.css" id="theme-styles">
    <link rel="stylesheet" href="~/Content/less/layout.less"/>

    <!--[if lt IE 9]>
        <script src="~/Content/node_modules/respond.js/dest/respond.min.js"></script>
    <![endif]-->

    <!--Tagit General CSS-->
    <link href="~/Content/css/tagit/jquery.tagit.css" rel="stylesheet" type="text/css">

    <!--Tagit Theme-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/tagit/tagit.ui-zendesk.css">

    <!--TinyMCE JS files-->
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>

    <script>window.jQuery || document.write('<script src="~/Content/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>

</head>

<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="/Home/index" id="logo">
                    <img src="~/Content/img/logo.png" height="100" alt="Fitlosophi Blog">
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right tales-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">
                            <li>@Html.ActionLink("Blog", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="#">
                                    Pages
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" id="StaticPageMenu">
                                    <li>@Html.ActionLink("Disclaimer", "StaticPage", "Home")</li>
                                </ul>
                            </li>
                            <li>
                            @*<li>@Html.ActionLink("Register User", "Register", "Account")</li>
                            <li>@Html.ActionLink("Add Post", "AddPost", "CMS")</li>*@
                            @if (Request.IsAuthenticated)
                            {
                                <li class="dropdown active">
                                    <a class="dropdown-toggle"
                                        data-toggle="dropdown"
                                        href="#">
                                        Admin
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                                        {
                                            <li>@Html.ActionLink("Add Post", "AddPost", "CMS")</li>
                                        }
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <li>@Html.ActionLink("Manage Posts", "ManagePosts", "CMS")</li>
                                        }
                                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                                        {
                                            <li>@Html.ActionLink("Add Page", "AddPage", "CMS")</li>
                                        }
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <li>@Html.ActionLink("Manage Pages", "ManagePages", "CMS")</li>
                                            <li>@Html.ActionLink("Register User", "Register", "Account")</li>
                                        }
                                    </ul>
                                </li>
                            }

                                @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="tales-breadcrumb">
                    @if (Request.IsAuthenticated)
                    {
                        <text>Hi @(char.ToUpper(User.Identity.Name.Substring(0,User.Identity.Name.IndexOf("@"))[0]) + User.Identity.Name.Substring(1,User.Identity.Name.IndexOf("@")-1))!</text>
                    }
                </div>
                <div class="tales-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">
                        <button class="searchbutton" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="searchfield" id="searchbox" type="text" placeholder="Hashtag Search">
                    </form>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
 
        </div>
    </header>
    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-star"></i> Writer's Mantra
                        </h3>
                        <ul class="tales-list">
                            <li>Living healthy is about eating healthy.</li>
                            <li>Being fit is a lifestyle not a short term goal.</li>
                            <li>Share ideas, tips, and recipes to promote wellness. </li>
                            <li>Healthy is happy.</li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>Contact Us
                        </h3>
                        <span>We love to hear from my readers. Thoughts, feedback, critique - all welcome! Drop me a line:</span>

                        <span class="email">
                            <a href="#">feedback@FITlosophi.com</a>
                        </span>
                    </div>
                    <div class="col-md-4 footer-widget">
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <h3>
                                <i class="fa fa-cog"></i>Statistics
                            </h3>
                            <span>Even we sometimes loose track of how many articles we actually have here.</span>
                            <div class="stats">
                                <div class="line">
                                    <span class="counter">27</span>
                                    <span class="caption">Articles</span>
                                </div>
                                <div class="line">
                                    <span class="counter">2</span>
                                    <span class="caption">Authors</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - FITlosophi</p>
            </div>
        </div>
    </footer>


@Scripts.Render("~/bundles/bootstrap")
@*@Scripts.Render("~/Scripts/app/loadStaticPages.js")*@
<!--JQuery JS files-->
<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<!--Bootstrap JS files-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!--JQueryUI files-->
<script src="~/Scripts/jquery-ui.min.js"></script>">

@RenderSection("scripts", required: false)

</body>
</html>
